<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    <h1>Site under maintenance</h1>
    <p>Site undergoing maintenance currently</p>


    {{> footer}}
  </body>
</html>
